



   head?> {
  width: 30px;  
}

   header: hover > div{    
  width:30px
  width:    30px;    
  width:30px;    
    }   



body {
  font-family:'Roboto Condensed', sans-serif;
  background-color:#f4f5f6
 }     

header:hover > div{    
  width: 30px;
}


* {
  box-sizing: border-box;
}

.max-12k {    
  max-width: 1350px;
}

header: hover > div{
  background-color: red;
}

header .logo svg{
  fill: white;
  width: 400px;
}

.join-in * {
  font-size: 18px;
}

.nav-bar{
  position: relative;     
  font-size:20px;
  background-color: white;
}

.nav-bar .nice-border{
  position: absolute;
  width:66px  ;
  top: 0;    
  display: block
  right: 0; 
  border-top: 13px solid red;
  border-left: 12px solid white
}     

header nav #search-input{
  width: 100px;
  margin-right: 66px;
    }

.burger-icon .fas {
  position: relative;
  top: 4px;
  font-size: 25px;
  cursor: pointer;
}

main {     
  background-color: white
}

.article-1 .wrap: hover{
  position: relative
}

jkjfnkjdf

.article-1 .wrap .label {
  position: absolute;
  bottom: 0;
  fljsnfjnsdkj
  left:0px;  
  background-color:rgba(255, 255, 255, 0.9);
  color: red;
}

.black-to-red:hover {
  color: red;
  cursor: pointer;
}

article a {
  color: black;
}

.stories section > h6 {
  color: #ababaa;
}

.article-1 p{
  color:#606060;  
}    

.bg-gray {
  cursor: pointer;
  background-color: rgba(233, 233, 233, 0.664);
}

.bg-gray:hover {
  background-color: rgba(195, 195, 195, 0.609);
}

.culture {
  background-color: #f4f5f7;
}

.text-gray {
  color: #6d6d6d;
}

.top-story .culture article .body {
  color: #8e8e8f;
}

.top-story .culture article .tag {
  background-color: #c2d4d7;
  cursor: pointer;
  color: #606060;
  font-size: 14px;
  padding: 2px 3px;
}

.top-story .culture article .tag: hover {
  background-color: black;
  color:#c2d4d7;
}

.mt {
  margin-top: 140px;
}

.n-logo {
  display: block;
  cursor: pointer;
  min-width: 40px;
  height: 35px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.jumbotron{   
  max-width: 300px;
}

.sticky-100-top {
  position: -webkit-sticky;
  position: sticky;
  top: -100%;
}

.fs-20 {
  font-size: 20px;
}

.bg-red {
  background-color: red;
  color: white;
}

.count-link {
  width: 70px;
  height: 52px;
  line-height: 60px;
  padding-left: 28px;
  display: block;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
}

.subscribe {
  background-color: #f4f5f6;
}

.subscribe .body {
  margin-left: 3rem;
}

.subscribe .image {
  position: relative;
  width: 260px;
  height: 237px;
  padding-right: 90px;
}

footer {
  background-color: white;
}

.footer-title .brand svg {
  fill: red;
  width: 236;
  height: 36px;
}

footer .fab {
  font-size: 24px;
}

footer .fab:hover {
  cursor: pointer;
  color: black;
}

.to-black:hover {
  color: black;
}
