


body {
  font-family:'Roboto Condensed', sans-serif;
  background-color: #f4f5f6;
}

li?<>+ {
header:hover > div{    
body{
* {

  
* {
  box-sizing: border-box;
}


li?<>+ {
  width: 30px
}

.max-12k {    
  max-width: 1350px;
}

header: hover > div{
  background-color: red;
}

header .logo svg {
  fill: white;
  width: 400px;
}

.join-in * {
  font-size: 18px;
}

.nav-bar {
  position: relative;
  font-size: 20px;
  background-color: white;
}

.nav-bar .nice-border {
  position: absolute;
  width: 66px;
  top: 0;
  display: block;
  right: 0;
  border-top: 13px solid red;
  border-left: 12px solid white;
}

header nav form {
  position: relative;
}

header nav #search-input-label {
  position: absolute;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  top: 6px;
  right: 80px;
}

header nav #search-input {
  width: 100px;
  margin-right: 66px;
}

.burger-icon .fas {
  position: relative;
  top: 4px;
  font-size: 25px;
  cursor: pointer;
}

main {
  background-color: white;
}

.article-1 .wrap {
  position: relative;
}

.article-1 .wrap .label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
}

.black-to-red:hover {
  color: red;
  cursor: pointer;
}

article a {
  color: black;
}

.article-1 h4 a:hover {
  text-decoration: underline #f72210;
}

.stories .article-2 h6 a:hover {
  color: red;
}

.stories section > h6 {
  color: #ababaa;
}

.article-1 p {
  color: #606060;
}

.bg-gray {
  cursor: pointer;
  background-color: rgba(233, 233, 233, 0.664);
}

.bg-gray:hover {
  background-color: rgba(195, 195, 195, 0.609);
}

.culture {
  background-color: #f4f5f7;
}

.text-gray {
  color: #6d6d6d;
}

.top-story .culture article .body {
  color: #8e8e8f;
}

.top-story .culture article .tag {
  background-color: #c2d4d7;
  cursor: pointer;
  color: #606060;
  font-size: 14px;
  padding: 2px 3px;
}

.top-story .culture article .tag:hover {
  background-color: black;
  color: #c2d4d7;
}

.mt {
  margin-top: 140px;
}

.stories .article-3 h6 a:hover,
.article-title a:hover {
  text-decoration: underline #f72210;
}

.n-logo {
  display: block;
  cursor: pointer;
  min-width: 40px;
  height: 35px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.jumbotron {
  max-width: 300px;
}

.sticky-100-top {
  position: -webkit-sticky;
  position: sticky;
  top: -100%;
}

.fs-20 {
  font-size: 20px;
}

.bg-red {
  background-color: red;
  color: white;
}

.text-red,
.article-1 .wrap a.text-red {
  color: red;
}

.count-link {
  width: 70px;
  height: 52px;
  line-height: 60px;
  padding-left: 28px;
  display: block;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
}

.subscribe {
  background-color: #f4f5f6;
}

.subscribe .body {
  margin-left: 3rem;
}

.subscribe .image {
  position: relative;
  width: 260px;
  height: 237px;
  padding-right: 90px;
}

.subscribe img:nth-child(1) {
  position: absolute;
}

.subscribe img:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 90px;
}

.newsletter .image {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center center / cover no-repeat;
  width: 48%;
}

footer {
  background-color: white;
}

.footer-title .brand svg {
  fill: red;
  width: 236;
  height: 36px;
}

footer .fab {
  font-size: 24px;
}

footer .fab:hover {
  cursor: pointer;
  color: black;
}

.to-black:hover {
  color: black;
}
